<ion-view title="拼车">
  <ion-content class="has-header padding">
    <ion-item class="button button-positive" ng-click="gotoSearchPathView()">
		搜索路线
  	</ion-item>
  	<button class="button button-balanced">
  		快拼雷达
  	</button>
  	<button class="button button-royal">
  		3小时以内
  	</button>
  	<a class="button icon icon-right ion-chevron-right" href="#/tab/fact">Scientific Facts</a>
  	<ion-list>
      <ion-item type="item-text-wrap" href="#/tab/friend/1">
        Name
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
